<div class ="row">
  <div class="col-xs-12">
    <form class="create-update-form" action="burgers/create" method="POST">
      <div class="form-group taskbar">
        <label for="newBurger">Task Name:</label>
        <input type="text" id="newTask" name="newBurgerName">
        <button type="submit">Add Task</button>
      </div>
    </form>
  </div>
</div>

<div class ="row">
  <div class="col-xs-6 left-pane">

  <h2>To do list:</h2>


      {{#each burgers}}
        {{#unless this.devoured}}
  
          <div class ="row tasks-to-do">
            <div class="col-xs-3">
              <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devour" value="true">
                <button type="submit">DONE!</button>
              </form>
            </div>
            <div class="col-xs-9 toDoText">
              {{this.burger_name}}
            </div>
          </div>

        {{/unless}}
      {{/each}}
  </div>

  <div class="col-xs-6">
    <h2>Thanks Honey!</h2>

    <ul>
      {{#each burgers}}
        {{#if this.devoured}}

       
          <div class ="row tasks-to-do">
            <div class="col-xs-12 completed">
              {{this.burger_name}}
            </div>
          </div>



        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>



