<div class ="row">
  <div class="col-xs-12 window">
    <h1>Things to do!</h1>
  </div>
</div>

<div class ="row">
  <div class="col-xs-12 frame">
    <h2>Add a task</h2>
    <form class="create-update-form" action="burgers/create" method="POST">
      <div class="form-group">
        <label for="newBurger">Task Name:</label>
        <input type="text" id="newTask" name="newBurgerName">
        <button type="submit">Add Burger</button>
      </div>
    </form>
  </div>
</div>

<div class ="row">
  <div class="col-xs-6">

  <h2>Tasks to do:</h2>

    <ul>
      {{#each burgers}}
        {{#unless this.devoured}}
          <li>
            {{this.burger_name}}

            <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devour" value="true">
              <button type="submit">DONE!</button>
            </form>

          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col-xs-6">
    <h2>Tasks completed.</h2>

    <ul>
      {{#each burgers}}
        {{#if this.devoured}}
          <li>
            {{this.burger_name}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>



