li {
/*  background: #FAEBD7;*/
  margin: 5px;
  padding: 5px;
}

.label {
  font-weight: bold;
}

.window {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}

.frame {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

